@charset "utf-8";
@import "variables";

.notice_fv{
    background-image: url("../images/notice/news.png");
}
.notice_wrapper{
    .postList_notice-list{
        margin-top: 46px;
        .postList_notice-item{
            flex-direction: row;
            border-top: 1px solid #D5D5D5;
            margin-bottom: 0;
            @include sp{
                display: block;
                padding: 20px 0;
            }
            &:last-child{
                border-bottom: 1px solid #D5D5D5;
            }
            .postList_notice-date{
                padding: 20px 0;
                width: 20%;
                @include sp{
                    padding: 0 0 5px;
                    width: 100%;
                }
            }
            .text-link{
                padding: 20px 0;
                width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-right: 10px;
                @include sp{
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }
}
.notice_pagenation{
    margin: 53px auto 46px;
}

// 投稿ページスタイル

.grandChildPage_wrapper{
    padding-top: 60px;
    margin-bottom: 43px;
    line-height: 1.5;
}
.notice_article{
    line-height: 1.5;
    margin-bottom: 84px;
}
.grandChildPage-h1title{
    margin-bottom: 34px;
    font-size: 28px;
    font-weight: 700;
}
.notice_date{
    text-align: right;
    display: block;
}
.post_h1{
    font-size: 26px;
    font-weight: 700;
}
.post_h2{
    font-size: 22px;
    font-weight: 700;
    &::before{
        content: "";
        border-left: 4px solid $dark-blue;
        padding-right: 10px;
    }
}
.post_quote{
    padding: 27px 26px 27px 0;
    background: #F8F8F8;
    position: relative;
    i{
        position: absolute;
        top: 40%;
        left: 35px;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
    }
    blockquote{
        padding-left: 74px;
    }
}
.gray{
    color: #b4b4b4;
}
.post_img-wrapper{
    width: 400px;
    margin: 30px 0;
    @include sp{
        width: 100%;
    }
    img{
        @include sp{
            width: 100%;
        }
    }
    
}

.post_list{
    margin-left: 16px;
    li{
        list-style: disc;
        color: $orange;
        line-height: 1.5;
        span{
            color: #333;
        }
        
    }
}
.post_text-link{
    color: $orange;
    text-decoration: underline;
}